@model SignatureBusinessSolutionsWebApp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="m-4">
    <div class="row">
        <div class="col-8">
            <div class="card card-primary">
                <div class="card-header">
                    <div class="card-title text-bold">
                        <i class="fas fa-user-cog"></i>
                        Change Account Settings
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="btn-group">
                                @if (Model.HasPassword)
                                {
                                    @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-danger btn-lg" })
                                }
                                else
                                {
                                    @Html.ActionLink("Create", "SetPassword", null, new { @class = "btn btn-success btn-lg" })
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>